data/n8n/workflows/01-planificateur.json
[
  {
    "name": "Caballarius — 01 Planificateur",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              { "field": "cronExpression", "expression": "0 2 * * *" }
            ]
          }
        },
        "id": "plan-trigger",
        "name": "Cron 02h00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [250, 300]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  (SELECT COUNT(*) FROM localities WHERE scrape_status='pending') AS pending_localities,\n  (SELECT COUNT(*) FROM localities WHERE scrape_status='done') AS done_localities,\n  (SELECT COUNT(*) FROM localities WHERE scrape_status='error') AS error_localities,\n  (SELECT COUNT(*) FROM establishments) AS total_establishments,\n  (SELECT COUNT(*) FROM locality_content) AS total_locality_content,\n  (SELECT COUNT(DISTINCT locality_id) FROM locality_content) AS localities_with_content,\n  (SELECT COUNT(*) FROM scrape_jobs WHERE status='done' AND created_at > NOW() - INTERVAL 24 HOUR) AS jobs_24h,\n  (SELECT COUNT(*) FROM scrape_jobs WHERE status='error' AND created_at > NOW() - INTERVAL 24 HOUR) AS errors_24h"
        },
        "id": "plan-stats",
        "name": "Stats BDD",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [450, 300],
        "credentials": {
          "mySql": { "id": "a1b2c3d4-mysql-cblrs-staging", "name": "MariaDB Staging" }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const stats = $input.first().json;\nconst apiKey = $env.OPENROUTER_API_KEY;\nif (!apiKey) return [{ json: { error: 'OPENROUTER_API_KEY manquant dans /data/n8n/.env' } }];\n\nconst systemPrompt = `Tu es Kimi, cerveau IA superviseur du projet Caballarius — scraping automatise de 2356 localites sur les chemins de pelerinage europeens.\n\nBDD caballarius_staging : 38 pays, 305 routes, 2356 localites, 1795 etapes.\nSkills : 01-scrape-sonar (trouve etablissements par localite), 06-enrichir-contenu (descriptions multilingues).\nObjectif : 20K+ etablissements, contenu multilingue, 15K sites pros.\n\nTu es le PLANIFICATEUR. Analyse l'etat du projet et decide quoi prioriser.`;\n\nconst userPrompt = `Voici l'etat actuel de la BDD a 02h00 :\\n${JSON.stringify(stats, null, 2)}\\n\\nAnalyse et reponds en JSON :\\n{\\n  \"summary\": \"Resume en 2-3 phrases\",\\n  \"health\": \"green|yellow|red\",\\n  \"actions\": [\\n    { \"priority\": 1, \"skill\": \"01|06\", \"action\": \"description\", \"batch_size\": 50 }\\n  ],\\n  \"skip_reason\": \"si aucune action necessaire, explique pourquoi\"\\n}`;\n\ntry {\n  const response = await fetch('https://openrouter.ai/api/v1/chat/completions', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'Authorization': `Bearer ${apiKey}`,\n      'HTTP-Referer': 'https://cblrs.net',\n      'X-Title': 'Caballarius-n8n-planificateur'\n    },\n    body: JSON.stringify({\n      model: 'moonshotai/kimi-k2.5',\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ],\n      response_format: { type: 'json_object' },\n      temperature: 0.3,\n      max_tokens: 1500\n    })\n  });\n  const data = await response.json();\n  const content = JSON.parse(data.choices[0].message.content);\n  return [{ json: { ...stats, kimi_analysis: content, timestamp: new Date().toISOString() } }];\n} catch (err) {\n  return [{ json: { ...stats, kimi_error: err.message, timestamp: new Date().toISOString() } }];\n}"
        },
        "id": "plan-kimi",
        "name": "Kimi Planifie",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [700, 300]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO scrape_jobs (job_type, target_type, target_id, status, started_at, completed_at, results_count, error_log)\nVALUES ('enrichment', 'locality', 0, 'done', NOW(), NOW(), 0,\n  '{{ JSON.stringify($json.kimi_analysis || $json.kimi_error || \"no analysis\").replace(/'/g, \"''\") }}')"
        },
        "id": "plan-log",
        "name": "Log Decision",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [950, 300],
        "credentials": {
          "mySql": { "id": "a1b2c3d4-mysql-cblrs-staging", "name": "MariaDB Staging" }
        }
      }
    ],
    "connections": {
      "Cron 02h00": { "main": [[ { "node": "Stats BDD", "type": "main", "index": 0 } ]] },
      "Stats BDD": { "main": [[ { "node": "Kimi Planifie", "type": "main", "index": 0 } ]] },
      "Kimi Planifie": { "main": [[ { "node": "Log Decision", "type": "main", "index": 0 } ]] }
    },
    "settings": { "executionOrder": "v1" }
  }
]
