data/n8n/workflows/02-controle-qualite.json
[
  {
    "name": "Caballarius — 02 Controle Qualite",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              { "field": "cronExpression", "expression": "0 6 * * *" }
            ]
          }
        },
        "id": "qc-trigger",
        "name": "Cron 06h00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [250, 300]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  (SELECT COUNT(*) FROM establishments) AS total_estab,\n  (SELECT COUNT(*) FROM establishments WHERE created_at > NOW() - INTERVAL 24 HOUR) AS new_24h,\n  (SELECT COUNT(*) FROM establishments WHERE google_rating IS NULL) AS no_rating,\n  (SELECT COUNT(*) FROM establishments WHERE phone IS NULL AND email IS NULL AND website IS NULL) AS no_contact,\n  (SELECT COUNT(DISTINCT category) FROM establishments) AS nb_categories"
        },
        "id": "qc-overview",
        "name": "Vue Ensemble",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [450, 200],
        "credentials": { "mySql": { "id": "create-in-ui", "name": "MariaDB Staging" } }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT name, category, COUNT(*) AS nb FROM establishments GROUP BY name, category HAVING COUNT(*) > 3 ORDER BY nb DESC LIMIT 20"
        },
        "id": "qc-dupes",
        "name": "Doublons Suspects",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [450, 400],
        "credentials": { "mySql": { "id": "create-in-ui", "name": "MariaDB Staging" } }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT e.id, e.name, e.category, e.address, l.name AS locality\nFROM establishments e\nJOIN localities l ON e.locality_id = l.id\nWHERE e.created_at > NOW() - INTERVAL 24 HOUR\nORDER BY e.id DESC LIMIT 25"
        },
        "id": "qc-recent",
        "name": "Recents 24h",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [450, 600],
        "credentials": { "mySql": { "id": "create-in-ui", "name": "MariaDB Staging" } }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const allItems = $input.all();\nconst overview = allItems[0]?.json || {};\nconst dupes = allItems.slice(1).filter(i => i.json.nb).map(i => i.json);\nconst recent = allItems.filter(i => i.json.locality).map(i => i.json);\n\nconst apiKey = $env.OPENROUTER_API_KEY;\nif (!apiKey) return [{ json: { error: 'OPENROUTER_API_KEY manquant' } }];\n\nconst systemPrompt = `Tu es Kimi, CONTROLEUR QUALITE du projet Caballarius.\nTu analyses les etablissements scrapes sur les chemins de pelerinage et detectes :\n- Hallucinations LLM (etablissements inventes, noms generiques repetes)\n- Doublons (meme nom dans trop de localites = fake)\n- Categories douteuses\n- Donnees manquantes critiques\n- Noms en mauvaise langue pour le pays\nSois strict. Mieux vaut trop de warnings que rater un probleme.\nReponds TOUJOURS en JSON valide.`;\n\nconst userPrompt = `CONTROLE QUALITE — ${new Date().toISOString().split('T')[0]}\n\nSTATS: ${JSON.stringify(overview)}\nDOUBLONS (>3 occurrences): ${JSON.stringify(dupes.slice(0, 10))}\nRECENTS: ${JSON.stringify(recent.slice(0, 15))}\n\nReponds:\n{\"quality_score\": 0-100, \"issues\": [{\"type\": \"duplicate|hallucination|missing_data|wrong_category|wrong_language\", \"severity\": \"info|warning|critical\", \"description\": \"...\", \"names\": []}], \"recommendations\": [\"...\"], \"summary\": \"2-3 phrases\"}`;\n\ntry {\n  const response = await fetch('https://openrouter.ai/api/v1/chat/completions', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Authorization': `Bearer ${apiKey}`, 'HTTP-Referer': 'https://cblrs.net', 'X-Title': 'Caballarius-n8n-qc' },\n    body: JSON.stringify({ model: 'moonshotai/kimi-k2.5', messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: userPrompt }], response_format: { type: 'json_object' }, temperature: 0.2, max_tokens: 3000 })\n  });\n  const data = await response.json();\n  const analysis = JSON.parse(data.choices[0].message.content);\n  return [{ json: { kimi_qc: analysis, overview, timestamp: new Date().toISOString() } }];\n} catch (err) {\n  return [{ json: { error: err.message, overview } }];\n}"
        },
        "id": "qc-kimi",
        "name": "Kimi Analyse QC",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [750, 400]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const data = $input.first().json;\nconst token = $env.TELEGRAM_BOT_TOKEN;\nconst chatId = $env.TELEGRAM_CHAT_ID;\nif (!token || !chatId) return [{ json: { telegram: 'skipped - no token/chatId' } }];\n\nlet text = '';\nif (data.kimi_qc) {\n  const qc = data.kimi_qc;\n  const scoreEmoji = qc.quality_score >= 80 ? '🟢' : (qc.quality_score >= 50 ? '🟡' : '🔴');\n  text = `🔍 Controle Qualite\\n\\n`;\n  text += `${scoreEmoji} Score: ${qc.quality_score}/100\\n\\n`;\n  if (qc.issues && qc.issues.length > 0) {\n    text += `⚠️ Problemes detectes:\\n`;\n    for (const issue of qc.issues.slice(0, 5)) {\n      const icon = issue.severity === 'critical' ? '🔴' : (issue.severity === 'warning' ? '🟡' : 'ℹ️');\n      text += `${icon} [${issue.type}] ${issue.description}\\n`;\n    }\n    text += '\\n';\n  }\n  if (qc.recommendations) {\n    text += `💡 Recommandations:\\n${qc.recommendations.slice(0, 3).map(r => '  • ' + r).join('\\n')}\\n\\n`;\n  }\n  if (qc.summary) text += `📝 ${qc.summary}`;\n} else {\n  text = `⚠️ QC n8n - erreur: ${data.error || 'inconnu'}`;\n}\n\ntry {\n  const resp = await fetch(`https://api.telegram.org/bot${token}/sendMessage`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ chat_id: parseInt(chatId), text: text.substring(0, 4000) })\n  });\n  const result = await resp.json();\n  return [{ json: { telegram_sent: result.ok } }];\n} catch (err) {\n  return [{ json: { telegram_error: err.message } }];\n}"
        },
        "id": "qc-telegram",
        "name": "Envoyer Telegram QC",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1000, 300]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO scrape_jobs (job_type, target_type, target_id, status, started_at, completed_at, error_log)\nVALUES ('enrichment', 'locality', 0, 'done', NOW(), NOW(),\n  SUBSTRING('{{ JSON.stringify($json.kimi_qc || $json.error || {}).replace(/'/g, \"''\") }}', 1, 500))"
        },
        "id": "qc-log",
        "name": "Log QC",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [1000, 500],
        "credentials": { "mySql": { "id": "create-in-ui", "name": "MariaDB Staging" } }
      }
    ],
    "connections": {
      "Cron 06h00": { "main": [[ { "node": "Vue Ensemble", "type": "main", "index": 0 }, { "node": "Doublons Suspects", "type": "main", "index": 0 }, { "node": "Recents 24h", "type": "main", "index": 0 } ]] },
      "Vue Ensemble": { "main": [[ { "node": "Kimi Analyse QC", "type": "main", "index": 0 } ]] },
      "Doublons Suspects": { "main": [[ { "node": "Kimi Analyse QC", "type": "main", "index": 0 } ]] },
      "Recents 24h": { "main": [[ { "node": "Kimi Analyse QC", "type": "main", "index": 0 } ]] },
      "Kimi Analyse QC": { "main": [[ { "node": "Envoyer Telegram QC", "type": "main", "index": 0 }, { "node": "Log QC", "type": "main", "index": 0 } ]] }
    },
    "settings": { "executionOrder": "v1" }
  }
]
