data/n8n/workflows/03-rapport-quotidien.json
[
  {
    "name": "Caballarius — 03 Rapport Quotidien",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              { "field": "cronExpression", "expression": "0 7 * * *" }
            ]
          }
        },
        "id": "rpt-trigger",
        "name": "Cron 07h00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [250, 300]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  (SELECT COUNT(*) FROM countries WHERE active=1) AS pays,\n  (SELECT COUNT(*) FROM routes) AS routes,\n  (SELECT COUNT(*) FROM localities) AS localites,\n  (SELECT COUNT(*) FROM stages) AS etapes,\n  (SELECT COUNT(*) FROM establishments) AS etablissements,\n  (SELECT COUNT(*) FROM locality_content) AS contenus_localites,\n  (SELECT COUNT(DISTINCT locality_id) FROM locality_content) AS localites_enrichies,\n  (SELECT COUNT(*) FROM localities WHERE scrape_status='pending') AS loc_pending,\n  (SELECT COUNT(*) FROM localities WHERE scrape_status='done') AS loc_done,\n  (SELECT COUNT(*) FROM localities WHERE scrape_status='error') AS loc_error,\n  (SELECT COUNT(*) FROM establishments WHERE created_at > NOW() - INTERVAL 24 HOUR) AS new_estab_24h,\n  (SELECT COUNT(*) FROM locality_content WHERE created_at > NOW() - INTERVAL 24 HOUR) AS new_content_24h,\n  (SELECT COUNT(*) FROM scrape_jobs WHERE status='done' AND created_at > NOW() - INTERVAL 24 HOUR) AS jobs_ok_24h,\n  (SELECT COUNT(*) FROM scrape_jobs WHERE status='error' AND created_at > NOW() - INTERVAL 24 HOUR) AS jobs_err_24h"
        },
        "id": "rpt-stats",
        "name": "Stats Completes",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [450, 300],
        "credentials": { "mySql": { "id": "create-in-ui", "name": "MariaDB Staging" } }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT category, COUNT(*) AS nb FROM establishments GROUP BY category ORDER BY nb DESC LIMIT 10"
        },
        "id": "rpt-categories",
        "name": "Repartition Categories",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [450, 500],
        "credentials": { "mySql": { "id": "create-in-ui", "name": "MariaDB Staging" } }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const allItems = $input.all();\nconst stats = allItems[0]?.json || {};\nconst categories = allItems.filter(i => i.json.category).map(i => i.json);\n\nconst apiKey = $env.OPENROUTER_API_KEY;\nif (!apiKey) return [{ json: { error: 'OPENROUTER_API_KEY manquant' } }];\n\nconst systemPrompt = `Tu es Kimi, cerveau IA du projet Caballarius.\nTu rediges le RAPPORT QUOTIDIEN. Style : concis, professionnel, en francais.\nUtilise des emojis pour les KPI.\nObjectifs de reference :\n- 2356 localites a scraper (etablissements)\n- 2356 localites a enrichir (descriptions multilingues)\n- Cible finale : 20 000+ etablissements, 15 000 sites pros\nReponds TOUJOURS en JSON valide.`;\n\nconst userPrompt = `Genere le rapport quotidien du ${new Date().toISOString().split('T')[0]}.\n\nSTATS: ${JSON.stringify(stats)}\nCATEGORIES: ${JSON.stringify(categories)}\n\nReponds:\n{\"title\": \"Rapport Caballarius — JJ/MM\", \"sections\": [{\"emoji\": \"...\", \"title\": \"...\", \"content\": \"...\"}], \"kpi\": {\"progress_scrape_pct\": 0-100, \"progress_enrich_pct\": 0-100, \"establishments_total\": N, \"health\": \"green|yellow|red\"}, \"next_steps\": [\"...\"], \"one_liner\": \"Resume en 1 phrase\"}`;\n\ntry {\n  const response = await fetch('https://openrouter.ai/api/v1/chat/completions', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Authorization': `Bearer ${apiKey}`, 'HTTP-Referer': 'https://cblrs.net', 'X-Title': 'Caballarius-n8n-rapport' },\n    body: JSON.stringify({ model: 'moonshotai/kimi-k2.5', messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: userPrompt }], response_format: { type: 'json_object' }, temperature: 0.5, max_tokens: 3000 })\n  });\n  const data = await response.json();\n  const report = JSON.parse(data.choices[0].message.content);\n  return [{ json: { report, stats, timestamp: new Date().toISOString() } }];\n} catch (err) {\n  return [{ json: { error: err.message, stats } }];\n}"
        },
        "id": "rpt-kimi",
        "name": "Kimi Rapport",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [750, 400]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const data = $input.first().json;\nconst token = $env.TELEGRAM_BOT_TOKEN;\nconst chatId = $env.TELEGRAM_CHAT_ID;\nif (!token || !chatId) return [{ json: { telegram: 'skipped - no token/chatId' } }];\n\nlet text = '';\nif (data.report) {\n  const r = data.report;\n  text = `📊 ${r.title || 'Rapport Quotidien'}\\n\\n`;\n  if (r.sections) {\n    for (const s of r.sections) {\n      text += `${s.emoji || '▪️'} ${s.title}\\n${s.content}\\n\\n`;\n    }\n  }\n  if (r.kpi) {\n    text += `📈 Scrape: ${r.kpi.progress_scrape_pct || 0}% | Enrichi: ${r.kpi.progress_enrich_pct || 0}%\\n`;\n    text += `🏨 Etablissements: ${r.kpi.establishments_total || 0}\\n`;\n    text += `🚦 Sante: ${r.kpi.health || '?'}\\n\\n`;\n  }\n  if (r.next_steps) text += `🎯 Prochaines etapes:\\n${r.next_steps.map(s => '  • ' + s).join('\\n')}\\n\\n`;\n  if (r.one_liner) text += `💡 ${r.one_liner}`;\n} else {\n  text = `⚠️ Rapport n8n - erreur: ${data.error || 'inconnu'}`;\n}\n\ntry {\n  const resp = await fetch(`https://api.telegram.org/bot${token}/sendMessage`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ chat_id: parseInt(chatId), text: text.substring(0, 4000), parse_mode: 'HTML' })\n  });\n  const result = await resp.json();\n  return [{ json: { telegram_sent: result.ok, message_id: result.result?.message_id } }];\n} catch (err) {\n  return [{ json: { telegram_error: err.message } }];\n}"
        },
        "id": "rpt-telegram",
        "name": "Envoyer Telegram",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1000, 300]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO scrape_jobs (job_type, target_type, target_id, status, started_at, completed_at, error_log)\nVALUES ('enrichment', 'locality', 0, 'done', NOW(), NOW(),\n  SUBSTRING('{{ JSON.stringify($json.report?.one_liner || $json.error || \"rapport genere\").replace(/'/g, \"''\") }}', 1, 500))"
        },
        "id": "rpt-log",
        "name": "Log Rapport",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [1000, 500],
        "credentials": { "mySql": { "id": "create-in-ui", "name": "MariaDB Staging" } }
      }
    ],
    "connections": {
      "Cron 07h00": { "main": [[ { "node": "Stats Completes", "type": "main", "index": 0 }, { "node": "Repartition Categories", "type": "main", "index": 0 } ]] },
      "Stats Completes": { "main": [[ { "node": "Kimi Rapport", "type": "main", "index": 0 } ]] },
      "Repartition Categories": { "main": [[ { "node": "Kimi Rapport", "type": "main", "index": 0 } ]] },
      "Kimi Rapport": { "main": [[ { "node": "Envoyer Telegram", "type": "main", "index": 0 }, { "node": "Log Rapport", "type": "main", "index": 0 } ]] }
    },
    "settings": { "executionOrder": "v1" }
  }
]
